<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <!-- Display the ingredients -->
    <ul class="list-group">
      <!-- Click event calls the 'onEditItem' function, with the index of the Ingredient-to-edit as parameter -->
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients; let i = index"
        (click)="onEditItem(i)">
        {{ ingredient.name}} ({{ ingredient.amount}})</a>
    </ul>
  </div>
</div>
