<div class="row">
    <div class="col-md-5">
        <!-- Sets selectedRecipe with the called recipeWasSelected event in recipe-list -->
        <app-recipe-list
        (recipeWasSelected)="selectedRecipe = $event">
        </app-recipe-list>
    </div>
    <div class="col-md-7">
        <!-- Shows recipe-detail with the recipe property binded by selectedRecipe if there is a selected Recipe, 
            otherwise shows infoText template/property??? -->
        <app-recipe-detail
            *ngIf="selectedRecipe; else infoText"
            [recipe]="selectedRecipe">
        </app-recipe-detail>
        <ng-template #infoText>
            <p>Please select a Recipe!</p>
        </ng-template>
    </div>
</div>