<!-- Result of the click event in 'header.component' forwarded to the onNavigate function in 'app.component' -->
<!-- $event always refers to the event-data -->
<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- Show recipes component if loadedFeature variable is recipe (comes from onNavigate) -->
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <!-- Show shopping-list component if loadedFeature variable is shopping-list (comes from onNavigate) -->
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
    </div>
  </div>
</div>
