<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <!--  A. Shows all recipe-items in the recipes[],
          B. binds the found recipe-item to the recipe property of recipe-item,
          C. calls onRecipeSelected method in recipe-item with the found recipe as parameter
     -->
    <app-recipe-item
      *ngFor="let recipeEl of recipes"
      [recipe]="recipeEl"
      (recipeSelected)="onRecipeSelected(recipeEl)">
    </app-recipe-item>
  </div>
</div>
